body {
    font-family: Arial, sans-serif;
    background-color: #F5F5DC; /* Beige background color */
}
.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #6a5c53;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #6a5c53;
} 
.item:last-child {
    border-bottom: none;
}
.item-name {
    font-weight: bold;
}
.price {
    font-size: 18px;
    color: #666;
    padding-left: 20px; /* Add padding to the price column */
}
.payment-button {
    background-color: #dd5817;
    color: #6a5c53;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.payment-button:hover {
    background-color: #c95114;
}
h1 {
    text-align: center;
}
table {
    width: 100%;
}
th, td {
    padding: 10px;
    text-align: left;
}
th:nth-child(2), td:nth-child(2) {
    padding-left: 40px; /* Add padding to the price column header and cells */
}